<!doctype html>
<html>
    <head>
        <!-- Bootstrap CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        />
        <!--<link rel="stylesheet" type="text/css" href="../resources/css/styles.css" />-->
        <link rel="stylesheet" type="text/css" href="../resources/css/aistyles.css" />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
        </script>
    </head>
    <body>
        <!--Navigation Bar-->
        <nav class="navbar navbar-dark bg-blue">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">Yuan Zuo</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-blue p-1 px-4 pb-3">
                <a class="d-block text-white mb-1"
                href="hobbies.html">
                    Hobbies
                </a>

                <a class="d-block text-white mb-1"
                href="projects.html">
                    Projects
                </a>

                <a class="d-block text-white"
                href="resume.html">
                    Resume
                </a>

                <a class="d-block text-white"
                href="https://yuanzuo09.github.io/CSCI-3308-Website-Calendar/">
                    Calendar
                </a>                
            </div>
        </div>
        <!--Header-->
        <header class="pt-5">
            <div class="container">
                <h1 class="display-10 fw-bold">
                    My Resume
                </h1>
            </div>
        </header>

        <!--Main Body-->
        <main class="container">
            <!--Introduction-->
            <section>
                <h2>Personal Information</h2>
                <ul>
                    <li>Name: Yuan Zuo</li>
                    <li>Age: 20</li>
                </ul>
                <h2>Contact Information</h2>
                <ul>
                    <li>Email: <a href="yuanzuo09@gmail.com">yuanzuo09@gmail.com</a></li>
                    <li>Phone: (719) 716-8080</li>
                    <li>Location: Boulder, Colorado</li>
                    <li><a href="https://www.linkedin.com/in/yuan-zuo-184a13380/">LinkedIn</a></li>
                    <li><a href="https://github.com/yuanzuo09">GitHub</a></li>
                </ul>
                    
            </section>

            <section>
                <h2>Education</h2>

                <article>
                    <h3>University of Colorado Boulder</h3>
                    <ul>
                        <li>Bachelor of Science in Computer Science</li>
                        <li>Expected Graduation: May 2028</li>
                    </ul>

                    <h4>CS Courses Taken</h4>
                    <ul>
                        <li>Data Structures</li>
                        <li>Computer Systems</li>
                        <li>Algorithms</li>
                    </ul>
                </article>
            </section>

            <section>
                <h2>Technical Skills</h2>

                <h3>Programming Languages</h3>
                <ul>
                    <li>Python</li>
                    <li>Java</li>
                    <li>C++</li>
                    <li>C</li>
                </ul>

                <h3>Development Tools</h3>
                <ul>
                    <li>Git</li>
                    <li>GitHub</li>
                    <li>VS Code</li>
                    <li>Linux</li>
                </ul>
            </section>

            <section>
                <h2>Projects</h2>
                <ul><li><a href="projects.html">View Projects</a></li></ul>
            </section>

            <section>
                <h2>Activities & Interests</h2>
                <ul>
                    <li>Competitive Programming Club President</li>
                    <li><a href="hobbies.html">View Hobbies</a></li>
                </ul>
            </section>

            <section>
                <a
                    href="../resources/document/resume.pdf"
                    download
                    class="btn btn-primary my-3">
                    Download My Resume
                </a>
            </section>
        </main>

        <!--Footer-->
        <footer>
            <p class="container">
                End of the Page! 
                <a href="../index.html">
                    <button class="btn btn-primary btn-sm mx-5">Return to Home</button>
                </a><br>
                <a href="yuanzuo09@gmail.com">Contact Me</a>
            </p>
        </footer>
    </body>
</html>